*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background: #070506 url("../img/main-bg.png") top left no-repeat;
  background-attachment: fixed;
  background-size: contain;
  font-family: "Roboto", sans-serif;
  color: white;
  transition: all 0.5s linear;
}

.no-scroll {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  padding: 90px 15px 110px;
}

.header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 78px;
  width: 100%;
  max-width: 572px;
}

.logo__link {
  display: block;
}

.logo__link:hover {
  cursor: pointer;
}

/* navigation */

.header__nav {
  display: flex;
  align-items: center;
  position: relative;
}

.nav__list {
  display: flex;
  width: 100%;
}

.nav__item:not(:last-child) {
  margin-right: 15px;
}

.nav__link {
  display: block;
  color: #fff;
  position: relative;
}

.nav__link::before {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  background-color: #fff;
  left: 50%;
  top: -5px;
  display: block;
  transform: translateX(-50%);
  transition: all 0.3s linear;
}

.nav__link:hover::before,
.nav__link:focus::before {
  width: 100%;
}

.hero {
  margin-bottom: 65px;
}

.hero__subtitle {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 5px;
}

.hero__title {
  font-size: 64px;
  line-height: 78px;
  font-weight: 700;
  margin-bottom: 25px;
}

.hero__text {
  width: 100%;
  max-width: 572px;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  color: #afafaf;
  margin-bottom: 25px;
}

.hero__premiere {
  display: block;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
  color: #b02000;
  margin-bottom: 5px;
}

.hero__date {
  display: block;
  font-size: 24px;
  line-height: 150%;
  font-weight: 400;
  margin-bottom: 46px;
}

.hero__button {
  display: inline-block;
  position: relative;
  padding: 25px 85px 25px 34px;
  background: linear-gradient(90deg, #fb641a 0%, #fc3309 100%);
  border: none;
  border-radius: 300px;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  transition: all 0.3s;
}

.hero__button::after {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  right: 0;
  width: 65px;
  height: 65px;
  background: #fff url("../img/play.png") no-repeat center;
  border-radius: 50%;
}

.hero__button::before {
  position: absolute;
  content: "";
  display: block;
  top: -8px;
  right: -8px;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
}

.hero__button:hover {
  cursor: pointer;
  box-shadow: 0 0 4px 0px white;
}

.episodes__title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 24px;
}

.slider {
  display: flex;
  flex-wrap: wrap;
}

.slider__item {
  box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  overflow: auto;
  margin-bottom: 32px;
}

.slider__link {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
  padding: 30px;
  color: #fff;
  background: rgba(80, 80, 80, 0.86);
  transition: all 0.3s;
}

.slider__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #4065ff;
  opacity: 0;
  z-index: -1;
  transition: all 0.3s linear;
}

.slider__link:hover {
  background: none;
}

.slider__link:hover::after {
  opacity: 0.86;
}

.slider__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.slider__rating-label {
  font-size: 13px;
  font-weight: 400;
  margin-right: 12px;
}

.rating__star {
  font-size: 13px;
}

.slider__nav--left,
.slider__nav--right {
  width: 32px;
  height: 32px;
  border: 1px solid transparent;
  border-radius: 10%;
  outline: none;
  transition: all 0.3s;
}

.slider__nav--left span,
.slider__nav--right span {
  display: none;
}

.slider__nav--left:hover,
.slider__nav--left:focus,
.slider__nav--right:hover,
.slider__nav--right:focus {
  border-color: #fb641a;
}

.slider__nav--left {
  background: url("../img/arrow-left.svg") no-repeat center;
  margin-right: 15px;
}

.slider__nav--right {
  background: url("../img/arrow-right.svg") no-repeat center;
}

/* burger */

.nav__burger {
  display: none;
  top: 50px;
  right: 15px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  transition: all 0.3s;
  position: fixed;
}

.nav__burger:hover,
.nav__burger:focus {
  cursor: pointer;
  box-shadow: 0 0 15px 5px black;
}

.nav__burger span {
  width: 100%;
  height: 4px;
  background-color: #fb641a;
  position: relative;
}

.nav__burger span::before,
.nav__burger span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #fb641a;
  left: 0;
  transition: all 0.3s;
}

.nav__burger span::before {
  top: -15px;
}

.nav__burger span::after {
  top: 15px;
}

.burger__line.is-active span {
  background: none;
}

.burger__line.is-active span::before {
  top: 0;
  transform: rotate(-45deg);
  transition: all 0.3s;
}

.burger__line.is-active span::after {
  top: 0;
  transform: rotate(45deg);
  transition: all 0.3s;
}

@media (max-width: 650px) {
  .container {
    padding-top: 50px;
  }

  .hero__title {
    font-size: 36px;
  }

  .header__nav {
    width: 100%;
    max-width: 250px;
    align-items: start;
  }

  #nav {
    width: 300px;
    margin-right: -260px;
    padding: 50px 0;
    background: #010101;
    position: fixed;
    right: 0;
    top: 50px;
    bottom: 0;
    transition: all 0.5s;
  }

  #nav.nav-active {
    margin-right: 0;
  }

  .nav__burger {
    display: block;
    outline: none;
  }

  .nav__burger span {
    display: block;
  }

  .nav__list {
    flex-direction: column;
  }

  .nav__item {
    margin-bottom: 25px;
  }

  .nav__link {
    font-size: 24px;
  }

  .body-active {
    margin-right: 300px;
    margin-left: -300px;
  }
}
