* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background: #e5e5e5;
  font-family: sans-serif;
}

.header {
  background: #0050b3;
  padding: 6px 0;
  margin-bottom: 16px;
}

.header-block {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  width: 100%;
  max-width: 336px;
}

.search-input {
  width: 100%;
  font-size: 14px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 5px 30px 5px 12px;
  background-image: url("../img/search-icon.svg");
  background-repeat: no-repeat;
  background-position: right 12px center;
}

.navigation {
  display: flex;
  align-items: center;
}

.header__user {
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.user__avatar {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  border-radius: 50%;
  object-fit: cover;
}

.user__name {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
}

.navigation__panel {
  display: flex;
  align-items: center;
  margin-right: 28px;
}

.navigation__link {
  position: relative;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
}

.navigation__link:not(:last-child) {
  margin-right: 25px;
}

.navigation__link::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 16px;
  background: #003a8c;
  top: 0;
  left: -12px;
}

.navigation__link:last-child::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 16px;
  background: #003a8c;
  top: 0;
  right: -12px;
}

.icons-panel {
  display: flex;
  align-items: center;
}

.icon__link {
  display: flex;
  align-items: center;
  margin-right: 17px;
  transition: all 0.2s linear;
  position: relative;
}

.notification {
  position: absolute;
  width: 17px;
  height: 17px;
  background: #f5222d;
  border: 1px solid #ffffff;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #fff;
  top: -7px;
  right: -10px;
}

.icon__link:last-child::before {
  content: "";
  width: 1px;
  height: 16px;
  background: #003a8c;
  margin-right: 12px;
}

.header__icon {
  fill: #002766;
}

.header__icon:hover {
  fill: #fff;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.menu-sidebar {
  max-width: 192px;
  margin-right: 18px;
}

.menu-sidebar .user__avatar {
  width: 24px;
  height: 24px;
}

.menu-sidebar .user__name {
  font-weight: 400;
  color: #262626;
}

.user {
  margin-bottom: 12px;
  padding: 0 0 0 6px;
}

.nav__group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 24px;
}

.nav__group:last-child {
  margin-bottom: 0;
}

.nav__link {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  color: #595959;
  margin-bottom: 4px;
}

.nav__link:last-child {
  margin-bottom: 0;
  transition: all 0.2s linear;
}

.nav__link.active {
  background: #fff;
  font-weight: 600;
  color: #595959;
}

.nav__link:hover {
  background: #fff;
}

.nav__icon {
  margin-right: 8px;
  fill: #1890ff;
}

.nav__title {
  font-weight: 600;
  font-size: 12px;
  text-transform: capitalize;
  color: #262626;
  padding: 0 0 0 10px;
}

.maine-feed {
  width: 100%;
  max-width: 588px;
}

.create-post {
  background: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 16px;
}

.create-post__header {
  background: #f5f5f5;
}

.create-post__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  padding: 9px 16px;
  margin: 0;
}

.create-post__body .user__avatar {
  width: 40px;
  height: 40px;
}

.create-post__body {
  padding: 16px 16px 24px;
  display: flex;
  align-items: flex-start;
  border-top: 1px solid #d9d9d9;
  position: relative;
}

.create-post__body::after {
  content: "";
  width: 90%;
  height: 1px;
  background-color: #e8e8e8;
  left: 5%;
  bottom: 0;
  position: absolute;
}

.create-post__input {
  width: 100%;
  padding: 8px 0 0;
  word-wrap: break-word;
  overflow-x: hidden;
}

.create-post__footer {
  display: flex;
  align-items: center;
  padding: 16px 16px;
}

.tag {
  background: #f5f5f5;
  border-radius: 48px;
  border: none;
  padding: 9px 12px;
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.tag:hover {
  cursor: pointer;
  background-color: #fff;
}

.tag:last-child {
  margin-right: 0;
}

.create-post__icon {
  margin-right: 8px;
}

.post {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.post__header {
  display: flex;
  padding: 16px;
}

.post__avatar {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 12px;
}

.post__author {
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 22px;
  color: #0050b3;
  margin: 0;
}

.post__time {
  font-size: 14px;
  line-height: 22px;
  color: #8c8c8c;
}

.post__time::after {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #bfbfbf;
  display: inline-block;
  margin-left: 4px;
}

.likes__icon {
  fill: #1890ff;
}

.footer__likes {
  fill: #000;
}

.post__footer {
  display: flex;
  justify-content: space-around;
}

.post__button {
  background-color: #fff;
  border: none;
}
